/* This is a comment */

/* Here's andexample of a css rule:

div.bold-text {
    font-weight: 700;
}

selector {
    property: value;
}

<div> is na HTML element like <p> or <h#>

<div> doesnt carry extra "rules" with it,
like <p> and <h> tags.  <div> is just an empty container

"*" is the universal selector. Example:
*/

*{
    color: #016795;
}

div {
    color: purple;
}

.sad {
    font-size: xx-small;
}

.royal {
    font-style: italic;
}

.Kent {
    color: blue;
}

.Gloucester {
    color: goldenrod;
}

.Edmund {
    color: darkgreen;
}

.King-Lear {
    color: red;
    font-style: italic;
}

#annoyed {
    font-size: x-large;
}

#TopOfPage {
    font-weight: 900;
    font-style: oblique;
}
/* As a rule, you want to avoid id selectors.
ID selectors can only be used once per page, and each
element can only have on ID. In general, you want to use class
selectors, because they can be repeated, and you can assign more 
than one to a single element*/